[dagon_service]
route = http://localhost:57000

[transversal_service]
route = http://localhost:54350

[ftp_pub]
ip = localhost

[dagon_ip]
ip = localhost

[batch]
scratch_dir_base=/tmp/
remove_dir=False

[sulrm]
partition=

[ec2]
key=AKIAJHPEAY3YIIDMG2NQ
secret=
region=

[digitalocean]
key=

[gce]
key=
secret=
project=

[loggers]
keys=root

[handlers]
keys=stream_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=stream_handler

[handler_stream_handler]
class=StreamHandler
level=DEBUG
formatter=formatter
args=(sys.stderr,)

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s
